
.pal{
    color:#73BCD9;
    color:#DDE3E8;
    color:#F2F2F2;
    color:#3d402c;
    color:#60645C;
}
html{
    height: 100%;
}
body{
        background-image: 
        linear-gradient(#73BCD9,#DDE3E8);
         height: 100%;
    }
    .pocket{
         position: absolute;
        left: 10%;
        bottom: 10%;
       
       
        width: 40%;
        height: 40%;

        background-image: 
        linear-gradient( 45deg,#3d402c 49%,transparent 51%);
        box-shadow: -7px 7px 4px 2px #3d402c;
        
        border: 2px dashed #60645C ;
        border-top: none;
        border-right: none;

          }

          .pocket   img{
              opacity: 0.9;
              width: 110%;
              position: absolute;
              
              left: 5%;
              bottom: 5%;

              transform-origin: left bottom;

              border: 10px solid #DDE3E8;
              box-shadow: 0 0 3px 3px #73BCD9;
          }
            .pocket  img:nth-child(1){
                transform: rotate(-3.5deg);
            }
            .pocket  img:nth-child(3){
                transform: rotate(4deg);
            }
            .pocket .top{
                 position: absolute;
        left: 0;
        bottom: 0%;
       
       
        width: 50%;
        height: 50%;

        background-image: 
        linear-gradient( 45deg,#3d402c 48%,transparent 52%);
        box-shadow: -6px 7px 4px 2px #3d402c;
        border: 2px dashed #60645C ;
        border-top: none;
        border-right: none;



            }